<nav class="navbar">
    <div class="nav-brand">
        <h1>DF</h1>
    </div>
    <div class="ham-container">
        <div class="ham line1"></div>
        <div class="ham line2"></div>
        <div class="ham line3"></div>
    </div>
    <div class="nav-links">
        <ul class="navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/work">Work</a>
            </li>
            <li class="button-container">
                <a
                    href="/document/Resume.pdf"
                    download="Divyansh Falodiya.pdf"
                    target="_blank"
                    title="Resume"
                >
                    <button class="btn-theme" data-content="Resume">
                        Resume
                    </button>
                </a>
            </li>
        </ul>
    </div>
</nav>
