<nav class="navbar">
    <div class="nav-brand">
        <h1>DF</h1>
    </div>
    <div class="ham-container">
        <div class="ham line1"></div>
        <div class="ham line2"></div>
        <div class="ham line3"></div>
    </div>
    <div class="nav-links">
        <ul class="navbar-nav">
            <li>
                <a href="/">Home</a>
                <div class="link-underline"></div>
            </li>
            <li>
                <a href="/projects">Projects</a>
                <div class="link-underline"></div>
            </li>
            <li>
                <button class="btn-theme" data-content="Resume">Resume</button>
                <!-- <a href="/resume">Resume</a>
                <div class="link-underline"></div> -->
            </li>
        </ul>
    </div>
</nav>
