<div class="contact">
    <a
        href="mailto:divyanshfofficial@gmail.com"
        style="color: rgb(177, 63, 63)"
        target="_blank"
    >
        <i class="fas fa-envelope"> </i>
    </a>
    <a
        href="https://github.com/DivyanshFalodiya"
        style="color: rgb(209, 209, 209)"
        target="_blank"
    >
        <i class="fab fa-github"> </i>
    </a>
    <a
        href="https://www.linkedin.com/in/divyanshf/"
        style="color: rgb(52, 144, 250)"
        target="_blank"
    >
        <i class="fab fa-linkedin-in"> </i>
    </a>
    <a
        href="https://angel.co/u/divyansh-falodiya"
        target="_blank"
        style="color: white"
    >
        <i class="fab fa-angellist"></i>
    </a>
    <a
        href="https://www.instagram.com/divyansh.falodiya/"
        target="_blank"
        style="color: rgb(255, 159, 175)"
    >
        <i class="fab fa-instagram"> </i>
    </a>
    <a
        href="https://twitter.com/DFalodiya"
        target="_blank"
        style="color: skyblue"
    >
        <i class="fab fa-twitter"> </i>
    </a>
</div>
