<div class="contact">
    <a
        href="https://github.com/DivyanshFalodiya"
        style="color: rgb(209, 209, 209)"
        target="_blank"
    >
        <i class="fab fa-github"> </i>
    </a>
    <a
        href="https://www.linkedin.com/in/divyansh-f-09197114b/"
        style="color: rgb(52, 144, 250)"
        target="_blank"
    >
        <i class="fab fa-linkedin-in"> </i>
    </a>
    <a
        href="https://angel.co/u/divyansh-falodiya"
        target="_blank"
        style="color: white"
    >
        <i class="fab fa-angellist"></i>
    </a>
    <a
        href="https://www.instagram.com/divyansh.falodiya/"
        target="_blank"
        style="color: pink"
    >
        <i class="fab fa-instagram"> </i>
    </a>
    <a
        href="https://twitter.com/DFalodiya"
        target="_blank"
        style="color: skyblue"
    >
        <i class="fab fa-twitter"> </i>
    </a>
</div>
