<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <%- include('./partials/appbar') %>
        <div class="container">
            <h1>BLOG</h1>
            <a href="">A link to follow</a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
                sed modi reiciendis minus quas molestiae adipisci, error
                dolorum, at magnam obcaecati repudiandae quod! Fuga dignissimos,
                quod ad corporis, rerum et soluta enim nobis dolor facere quis
                qui illum quasi accusamus error ea dolores nam aut totam minima?
                Mollitia rem omnis quidem, nihil, ullam est saepe eos laudantium
                quod perspiciatis tenetur. Quae at aspernatur similique enim
                eaque odit aliquam. Voluptate laudantium neque necessitatibus
                accusantium impedit debitis natus, praesentium magnam ducimus
                dolores? Dolores nemo magni laborum sunt, ad cupiditate officia
                quis possimus ea saepe dicta consequatur ullam eum dignissimos
                illo labore. Tempore neque fuga voluptate quibusdam aperiam,
                nisi explicabo. Deserunt nostrum quo doloremque ullam cumque
                iure, voluptas, soluta quod quibusdam natus facilis non eveniet
                animi numquam delectus aut. Cupiditate consequuntur odit
                consequatur quidem, harum, excepturi nostrum ad eveniet quas,
                non facere ullam! Molestiae explicabo veniam suscipit eum,
                provident facilis architecto rerum qui quo dolores sed rem
                perferendis, eaque, enim exercitationem similique quibusdam
                voluptate ullam possimus saepe iure nihil consequatur? Ipsum,
                commodi assumenda mollitia magnam nam necessitatibus at dolorem
                quidem, ex ab et sequi aliquid unde consectetur! Modi et quasi,
                voluptatem atque aspernatur accusantium eaque nihil nesciunt
                doloribus earum saepe hic corporis ipsa? Alias aliquid quod
                harum maiores corporis necessitatibus distinctio pariatur modi
                quibusdam enim, molestiae nisi magni obcaecati, vel deleniti
                laborum. Facere iure doloremque perspiciatis? Veritatis
                doloremque quidem blanditiis et ut consectetur inventore optio
                eius cupiditate soluta voluptate laborum corrupti, odio hic iure
                dolorem, aspernatur asperiores laboriosam, alias voluptatum
                magni sapiente quisquam. Eligendi mollitia fuga ipsum nemo ex
                placeat aliquam sint, minus iure aut ab tenetur, fugiat optio
                amet provident dolores! Veritatis maiores, ullam nobis deleniti
                voluptatum mollitia ducimus facere provident quo sint est
                asperiores placeat vitae architecto excepturi magni ex
                praesentium unde labore dolores dicta! Omnis perspiciatis hic
                neque cupiditate nulla debitis quos sunt aliquid, eaque dicta
                harum itaque, blanditiis, odit accusantium. Neque nisi maxime
                blanditiis, illo reprehenderit error eum corrupti nemo adipisci
                consequatur deleniti esse quaerat eius quibusdam possimus iure
                maiores dolor qui harum minima ratione, veniam, saepe officia.
                Repellendus alias quis exercitationem, doloremque aperiam
                ducimus obcaecati delectus blanditiis laborum dolorum numquam
                voluptate, rem eveniet amet non praesentium? Totam
                exercitationem tempore molestiae quo laudantium officiis
                necessitatibus veritatis magni, voluptatum saepe ullam nulla
                enim vitae quibusdam itaque debitis recusandae amet omnis ipsum
                quia nihil laboriosam voluptates! Sint provident eos facilis
                quos accusantium. Doloremque vero dolorem adipisci quo delectus
                quis perspiciatis, harum sunt cupiditate! Expedita quae quo eum
                animi et alias quidem autem necessitatibus mollitia dicta.
                Commodi cum voluptatibus perspiciatis magni magnam minus
                quisquam accusamus aliquam mollitia laudantium. Deleniti
                nesciunt natus dignissimos ab molestiae fuga repellat numquam
                officiis provident. Placeat sed iure labore, possimus saepe,
                laboriosam pariatur architecto obcaecati dolore autem nulla eos
                facere veniam? Amet eligendi voluptatem nam, ipsam quaerat
                quisquam. Distinctio saepe consequuntur maiores tempore magni
                eveniet est deserunt pariatur dolores. Esse deleniti molestias
                aliquid voluptate delectus, dicta aliquam maxime necessitatibus
                debitis quasi consectetur quas perferendis ducimus beatae
                praesentium consequatur magni eius non, et officia. Nemo harum
                dolore voluptatum sint?
            </p>
            <%- include('./partials/footer') %>
        </div>
    </body>
</html>
