<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <%- include('./partials/appbar') %>
        <div class="container">
            <h1>Divyansh Falodiya</h1>
            <a href="">A link to follow</a>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias
                quisquam nihil enim iure possimus deserunt? Doloremque error
                iste, amet minima pariatur vitae reprehenderit sint omnis dolore
                asperiores commodi molestiae beatae laudantium quibusdam dolorem
                eligendi vero mollitia, nobis tempore praesentium et ea minus
                voluptatibus? In voluptates officia expedita doloribus
                consequuntur alias!
            </p>
            <%- include('./partials/footer') %>
            <script type="module" src="/scripts/index2.js"></script>
        </div>
    </body>
</html>
