<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/styles/login.css" />
    </head>
    <body data-barba="wrapper">
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="projects"
            >
                <h1 class="title">Admin Login</h1>
                <form
                    class="form-group"
                    action="/login"
                    method="POST"
                    enctype="application/json"
                >
                    <input
                        type="email"
                        placeholder="Email"
                        name="email"
                        required
                        class="form-control"
                    />
                    <input
                        type="password"
                        placeholder="Password"
                        name="password"
                        required
                        minlength="6"
                        class="form-control"
                    />
                    <button
                        class="btn-theme"
                        data-content="Login"
                        type="submit"
                    >
                        Login
                    </button>
                </form>
                <div class="error">
                    <p>Some error related to login</p>
                </div>
            </div>
        </div>
        <%- include('./partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/@barba/css@2.1.15/dist/barba-css.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
        <script type="module" src="/scripts/main.js"></script>
    </body>
</html>
