<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body data-barba="wrapper">
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="projects"
            >
                <div id="project-canvas-container">
                    <canvas id="projects-canvas"> </canvas>
                </div>
                <div id="project-content">
                    <div class=".project-header">
                        <h2 id="project-title"></h2>
                        <a id="project-link" href="#" target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </div>
                    <p id="project-details"></p>
                    <ul id="project-tech"></ul>
                </div>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
