<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body data-barba="wrapper">
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="projects"
            >
                <h1>PROJECTS</h1>
                <a href="">A link to follow</a>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Alias quisquam nihil enim iure possimus deserunt? Doloremque
                    error iste, amet minima pariatur vitae reprehenderit sint
                    omnis dolore asperiores commodi molestiae beatae laudantium
                    quibusdam dolorem eligendi vero mollitia, nobis tempore
                    praesentium et ea minus voluptatibus? In voluptates officia
                    expedita doloribus consequuntur alias!
                </p>
                <%- include('./partials/footer') %>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@barba/css@2.1.15/dist/barba-css.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
        <script type="module" src="/scripts/main.js"></script>
    </body>
</html>
