<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body data-barba="wrapper">
        <canvas id="canvas"></canvas>
        <div id="outer-container">
            <%- include('./partials/appbar') %>
            <div
                class="container"
                data-barba="container"
                data-barba-namespace="projects"
            >
                <canvas id="projects-canvas"> </canvas>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>
