@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

::selection {
    color: black;
    background-color: white;
}

.btn-theme {
    position: relative;
    border: none;
    background-color: rgb(166, 215, 255);
    color: black;
    border-radius: 2px;
    padding: 5px 10px;
    outline: none;
    transition: 0.3s;
}
.btn-theme:focus {
    outline: none;
}

.btn-theme::before,
.btn-theme::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 2px;
    padding: 5px 0px;
    background-color: rgb(0, 81, 255);
    transition: 0.3s;
}

.btn-theme::after {
    padding: 5px 10px;
    content: attr(data-content);
    background-color: transparent;
    transition: 0.3s;
}

.btn-theme:hover:after {
    color: white;
    transition: 0.3;
}

.btn-theme:hover:before {
    width: 100%;
    transition: 0.3s;
}

#animation-circle {
    position: fixed;
    z-index: 2;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: 200ms ease;
}

#animation-circle:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.anim-circle-active {
    transform-origin: center;
    animation: svg-circle-animation 500ms ease alternate infinite;
}

@keyframes svg-circle-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(166, 215, 255);
}

/* Barba */
.barba-once {
    opacity: 0;
}
.barba-once-active {
    transition: opacity 1000ms ease;
}
.barba-once-to {
    opacity: 1;
}
.barba-leave-active,
.barba-enter-active {
    transition: transform 450ms ease;
}
.barba-leave,
.barba-enter-to {
    opacity: 1;
    transform: scale(1);
}
.barba-enter {
    opacity: 0;
    transform: scale(0.1);
}
.barba-leave-to {
    opacity: 0;
    transform: scale(1.1);
}

/* Container */
.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    transition: 450ms ease;
    padding: 0;
}
.container > *:not(#projects-canvas) {
    margin: 1rem;
}

/* Canvas */
#canvas {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: 100%;
}
#project-canvas-container {
    width: 100%;
}
#projects-canvas {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#image-canvas {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#divyansh-image-container {
    /* width: 100%;
    height: 100%; */
    order: 2;
    border-radius: 1rem;
}
#divyansh-image-container img {
    width: 300px;
    /* height: 100%; */
}
#first-name {
    order: 1;
}
#last-name {
    order: 3;
}
/* .image-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
} */

/* Navigation bar */
.navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    height: auto;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-brand {
    cursor: default;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    z-index: 2;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-links > ul > li {
    position: relative;
    cursor: pointer;
    margin: auto 1rem;
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: 0.3s;
}
.a-active {
    color: blue;
}

.link-underline {
    position: absolute;
    width: 0;
    height: 1px;
    background-color: white;
    transition: 0.3s;
}

.nav-links li:hover a {
    color: white;
    transition: 0.3s;
}

.nav-links li:hover .link-underline {
    width: 100%;
    transition: 0.3s;
}

.ham-container {
    --width: 1.5rem;
    --height: 2px;
    --margin: 0.5rem;
    position: relative;
    display: none;
    cursor: pointer;
    width: calc(var(--width) + 2 * var(--margin));
    height: calc(var(--height) + 4.5 * var(--margin));
    /* width: 1.5rem; */
    /* height: 100px; */
    z-index: 2;
}

.ham {
    width: var(--width);
    height: var(--height);
    margin: var(--margin);
    background-color: white;
    transition: 450ms ease;
}
.ham-active > .line1 {
    transform: translateY(500%) rotate(45deg);
}
.ham-active > .line3 {
    transform: translateY(-500%) rotate(-45deg);
}
.ham-active > .line2 {
    transform: scale(0);
    transform-origin: center;
}

/* Footer */
.footer {
    bottom: 0;
}

/* Login */
.title {
    text-align: center;
}
.form-group {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-control::selection {
    color: white;
    background-color: blue;
}
.form-control {
    margin: 1rem;
}
.error {
    color: red;
}
.success {
    color: greenyellow;
}
#loader {
    display: none;
    stroke-dasharray: 50;
    animation: loader-rotate 1s infinite ease-in-out;
}

@keyframes loader-rotate {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 100;
    }
}

/* Content stuff */
.content-head {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.about {
    text-align: center;
    max-width: 75ch;
}
.name {
    font-family: 'Varela Round', 'Roboto', sans-serif;
    display: block;
}
.name span {
    font-size: 1rem;
    display: inline;
}

/* Contact */
.contact > * {
    margin: 0.5rem;
    font-size: 1rem;
}

/* Projects Stuff */
.project-content {
    width: 100%;
}
.project-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
#project-link {
    margin: auto 1rem;
}
#edit-project-link {
    margin: auto 1rem;
}
#project-title {
    display: inline;
    color: goldenrod;
}
#project-tech {
    color: skyblue;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.devicon {
    text-align: center;
    margin: 0.5rem;
}
.devicon > * {
    font-size: 2rem;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 0.5rem;
    }
    .ham-container {
        display: block;
    }
    .nav-links {
        position: fixed;
        top: 0;
        width: 100%;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.95);
        align-items: flex-start;
        height: 100vh;
        transition: 450ms ease;
    }
    .nav-links-active {
        right: 0;
        transition: 450ms ease;
    }
    .nav-links ul {
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
    }
    .nav-links a {
        text-align: center;
    }
    .content-head {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    #divyansh-image-container {
        order: 1;
        flex-basis: 100%;
        text-align: center;
    }
    .name {
        margin: auto 1rem;
    }
    #first-name {
        order: 2;
    }
    #last-name {
        order: 3;
    }
    .work-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 425px) {
    .project {
        min-width: 280px;
        height: 300px;
    }
    #projects-canvas {
        height: 50vh;
    }
}

@media (hover) {
    .name span {
        display: inline-block;
        transition: transform 100ms ease-in-out;
    }
    .name span:hover {
        transform: translateY(-5px);
    }
    .project-content {
        transition: transform 450ms ease;
        transform: translateY(100%);
    }
    .project:hover .project-content {
        transform: translateY(0);
    }
}
