* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 218, 218);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 15, 27);
    border-radius: 5px;
}

/* Canvas */
#canvas {
    position: fixed;
    z-index: -1;
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 100%;
}

/* Navigation bar */
.navbar {
    position: sticky;
    left: 0;
    top: 0;
    min-width: 100px;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(0, 15, 27);
}

.nav-brand {
    cursor: default;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.nav-links > ul > li {
    position: relative;
    cursor: pointer;
    writing-mode: sideways-lr;
    margin: 3rem auto;
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: 0.3s;
}

.link-underline {
    position: absolute;
    opacity: 0;
    left: -50%;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: 0.3s;
}

.nav-links li:hover a {
    color: white;
    transform: scale(1.2);
    transition: 0.3s;
}

.nav-links li:hover .link-underline {
    opacity: 1;
    left: 0;
    transition: 0.3s;
}

.ham-container {
    display: none;
    cursor: pointer;
}

.ham {
    position: relative;
    width: 1.5rem;
    height: 2px;
    margin: 0.5rem;
    background-color: white;
}

/* Container */
.container {
    /* height: 200vh; */
}

/* Footer */
.footer {
    bottom: 0;
}

/* Media queries */
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .navbar {
        height: auto;
        width: 100%;
        flex-direction: row;
    }
    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
    }
    .nav-links ul {
        /* position: relative; */
        /* top: 1rem; */
        flex-direction: row;
    }
    .nav-links > ul > li {
        writing-mode: sideways-lr;
        margin: auto 1rem;
    }
}

@media screen and (max-width: 425px) {
    .navbar {
        justify-content: space-between;
        padding: 0.5rem;
    }
    .ham-container {
        display: block;
    }
    .nav-links {
        display: none;
    }
}
