@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

i:not(.rating-star) {
    pointer-events: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(10, 10, 10);
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.pad0 {
    padding: 0;
}

.body-load {
    overflow-y: auto;
}

::selection {
    color: black;
    background-color: white;
}

#pointer-cursor-container {
    display: none;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#pointer-cursor {
    transform-origin: center;
    /* animation: rotator 5s infinite linear; */
}
@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-theme {
    position: relative;
    border: none;
    background-color: rgb(166, 215, 255);
    color: black;
    border-radius: 2px;
    padding: 5px 10px;
    outline: none;
    transition: 0.3s;
}
.btn-theme:focus {
    outline: none;
}

.btn-theme::before,
.btn-theme::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 2px;
    padding: 5px 0px;
    background-color: rgb(0, 81, 255);
    transition: 0.3s;
}

.btn-theme::after {
    padding: 5px 10px;
    content: attr(data-content);
    background-color: transparent;
    transition: 0.3s;
}

.btn-theme:hover:after {
    color: white;
    transition: 0.3;
}

.btn-theme:hover:before {
    width: 100%;
    transition: 0.3s;
}

#animation-circle:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.anim-circle-active {
    transform-origin: center;
    animation: svg-circle-animation 500ms ease alternate infinite;
}

@keyframes svg-circle-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(139, 139, 139);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(196, 196, 196);
}

/* Barba */
.barba-once {
    opacity: 0;
}
.barba-once-active {
    transition: opacity 1000ms ease;
}
.barba-once-to {
    opacity: 1;
}
.barba-leave-active,
.barba-enter-active {
    transition: transform 450ms ease;
}
.barba-leave,
.barba-enter-to {
    opacity: 1;
    transform: scale(1);
}
.barba-enter {
    opacity: 0;
    transform: scale(0.8);
}
.barba-leave-to {
    opacity: 0;
    transform: scale(1.1);
}

/* Container */
#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(17, 17, 17);
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader-animate {
    stroke-dasharray: 260;
    animation: loader 3s ease-in-out infinite;
}
@keyframes loader {
    0% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: 260;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
.page-loaded {
    transform: translateY(-100%);
}

.container > *:not(#project-container) {
    margin: 1rem;
}
.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 450ms ease;
}

/* Canvas */
#canvas {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.project-navigate {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.project-nav-btn {
    border: 1px solid white;
}
.project-nav-btn i {
    color: white;
}
#image-canvas {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#divyansh-image-container {
    position: relative;
    order: 2;
    border-radius: 1rem;
}
#divyansh-image-container img {
    background-color: rgb(32, 32, 32);
    width: 200px;
    height: 200px;
    margin: auto 2rem;
    transform: rotate(20deg);
    filter: contrast(1.5);
    border-radius: 50%;
    border: 3px solid rgb(56, 56, 56);
}
#first-name {
    order: 1;
}
#last-name {
    order: 3;
}

/* Navigation bar */
.navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    height: auto;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-links > ul > li {
    position: relative;
    margin: auto 1rem;
    padding: 5px;
}

.nav-links a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
}
.a-active {
    color: blue;
}

.nav-links li:hover a {
    color: white;
    transition: 0.3s;
}

.nav-links li:not(.button-container)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s ease;
}

.nav-links li:hover::after {
    width: 100%;
    transition: 0.3s ease;
}

.ham-container {
    --width: 1.5rem;
    --height: 2px;
    --margin: 0.5rem;
    position: relative;
    display: none;
    width: calc(var(--width) + 2 * var(--margin));
    height: calc(var(--height) + 4.5 * var(--margin));
    z-index: 2;
}

.ham {
    width: var(--width);
    height: var(--height);
    margin: var(--margin);
    background-color: white;
    transition: 500ms ease;
}
.ham-active > .line1 {
    transform: translateY(calc(var(--margin) + 2px)) rotate(45deg) scaleX(0.5);
    transform-origin: right;
}

/* Footer */
.footer {
    bottom: 0;
}

/* Login */
.title {
    text-align: center;
}
#auth-form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-control::selection {
    color: white;
    background-color: blue;
}
.form-control {
    margin: 1rem;
}
.error {
    color: red;
}
.success {
    color: greenyellow;
}
#loader {
    display: none;
    stroke-dasharray: 50;
    animation: loader-rotate 1s infinite ease-in-out;
}

@keyframes loader-rotate {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 100;
    }
}

/* Content stuff */
.content-head {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
#roles-container {
    position: relative;
}
#roles {
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 5px;
    font-weight: 400;
    width: fit-content;
    display: inline;
}
.skills-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    border: none;
}
#cursor {
    /* position: relative; */
    display: inline-block;
    bottom: 0;
    width: 3px;
    border-radius: 5px;
    height: 1.5rem;
    transform: translateY(1.2rem);
    background-color: white;
}
.outline {
    border: 2px solid grey;
}
.details-inner-container {
    padding: 1rem;
    border-radius: 3px;
    transition: 450ms ease;
}
.inner-container {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 3px;
}
.outline-bottom {
    border-bottom: 2px solid rgb(189, 189, 189);
}
.heading {
    color: goldenrod;
    position: relative;
}
.sub-heading {
    width: fit-content;
    position: relative;
}
.sub-heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: white;
}
.field-container {
    margin-top: 1rem;
}
.field {
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
}
.field-heading {
    color: rgb(177, 177, 177);
}
.field-content {
    margin: 0 10px;
    color: rgb(100, 224, 255);
}
.name {
    font-family: 'Varela Round', 'Roboto', sans-serif;
    display: block;
}
.name span {
    font-size: 1rem;
    display: inline;
}

/* Contact */
.contact {
    position: absolute;
    bottom: 0;
}
.contact > * {
    margin: 0.5rem;
    font-size: 1.2rem;
    opacity: 0.5;
}
.contact > *:hover {
    opacity: 1;
}

/* Projects Stuff */
.btn-fab {
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    color: black;
    background-color: white;
}
#project-container {
    /* position: relative; */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%; */
    /* height: 100%; */
}
#project-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#project-title {
    font-size: 5rem;
    text-align: center;
}
#project-about {
    text-align: center;
}
.project-link {
    padding-bottom: 0.5rem;
    margin: 1rem;
}
#project-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#project-links-container i {
    font-size: 1.5rem;
}
.project-canvas {
    width: 100%;
    height: 100%;
}
.projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
}
.project-image-container {
    position: relative;
}
.image-load-anim {
    position: absolute;
    left: 50%;
    width: 100%;
    z-index: -1;
}
.image-load-anim > *:nth-child(1) {
    animation: bounce 450ms infinite ease-in-out;
}
.image-load-anim > *:nth-child(2) {
    animation: bounce 450ms 100ms infinite ease-in-out;
}
.image-load-anim > *:nth-child(3) {
    animation: bounce 450ms 200ms infinite ease-in-out;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}
.project {
    position: relative;
    overflow: hidden;
}
.project-image {
    pointer-events: none;
    width: 100%;
    transform-origin: center;
    aspect-ratio: 16/9;
    transition: 0.3s ease;
}
.tech-container {
    display: flex;
    align-items: center;
}
.project-details {
    pointer-events: none;
    width: 100%;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}
.project-details h4 {
    color: white;
}
.project:hover .project-image {
    transform: scale(1.2);
    transition: 0.3s ease;
}
.image-credit {
    position: fixed;
    bottom: 0;
    right: 0;
}
.devicon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.devicon {
    margin: 1rem;
}
.tooltip-container {
    position: relative;
}
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-family: 'Varela Round', 'Roboto', sans-serif;
    font-weight: 600;
    bottom: -80%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip-container:hover .tooltip-text {
    visibility: visible;
}

/* Edit page */
#edit-form {
    padding: 1rem;
    border-radius: 0.2em;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}
.edit-inputs {
    margin: 0.5rem 0;
}
#edit-project-image {
    width: 100%;
    max-width: 350px;
    border-radius: 0.5em;
    aspect-ratio: 1.6;
}
.edit-project-image-container {
    display: flex;
    align-items: center;
}
.edit-project-image-container > * {
    margin: 0.5rem;
}
.project-tech-input-icon {
    font-size: 2rem;
}

/* Feedback */
.feedback {
    margin: 1rem 0;
    background-color: rgba(255, 255, 255, 0.1);
}
.feed-delete {
    position: absolute;
    right: 0;
    bottom: 0;
}
.feedback-form {
    width: 100%;
    position: relative;
}
.textarea-counter {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.8rem;
}
.feedback-username {
    text-align: end;
    color: grey;
}
.feed-add-link-container {
    width: 100%;
    text-align: end;
}

/* Media queries */
@media only screen and (min-width: 425px) {
    #edit-project-image {
        min-width: 350px;
    }
}
@media only screen and (max-width: 768px) {
    #project-details {
        width: 100%;
    }
    .field {
        margin-top: 1rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .navbar {
        justify-content: space-between;
        padding: 0.5rem;
    }
    .ham-container {
        display: block;
    }
    .nav-links {
        position: fixed;
        top: 0;
        width: 100%;
        right: -100%;
        background-color: rgba(0, 0, 0, 1);
        align-items: flex-start;
        height: 100vh;
        transition: 500ms ease;
    }
    .nav-links-active {
        right: 0;
        transition: 500ms ease-in-out;
    }
    .nav-links-active .navbar-nav {
        opacity: 1;
        transition: 450ms ease;
        transition-delay: 500ms;
    }
    .navbar-nav {
        opacity: 0;
        transition: 450ms ease;
    }
    .nav-links ul {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .nav-links a {
        font-family: 'Montserrat', 'Roboto', sans-serif;
        font-size: 1.5rem;
        text-align: left;
    }
    #resume {
        font-weight: 500;
    }
    .content-head {
        flex-wrap: wrap;
    }
    #divyansh-image-container {
        order: 1;
        flex-basis: 100%;
        text-align: center;
    }
    .name {
        margin: auto 1rem;
    }
    #first-name {
        order: 2;
    }
    #last-name {
        order: 3;
    }
    .work-container {
        grid-template-columns: 1fr;
    }
}
@media (hover: none) and (pointer: coarse) {
    ::-webkit-scrollbar {
        width: 1px;
    }
}
@media (hover) and (pointer: fine) {
    * {
        cursor: none !important;
    }
    #pointer-cursor-container {
        display: block;
    }
    .project-details {
        bottom: -100%;
        transition: 0.3s ease;
    }
    .project:hover .project-details {
        bottom: 0;
        transition: 0.3s ease;
    }
    .project-navigate {
        display: none;
    }
    .name span {
        display: inline-block;
        transition: transform 100ms ease-in-out;
    }
    .name span:hover {
        transform: translateY(-5px);
    }
    .project-content {
        transition: transform 450ms ease;
        transform: translateY(100%);
    }
    .project:hover .project-content {
        transform: translateY(0);
    }
}
